GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/CodeChunks.db
GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/SemanticSymbols.db
GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
GeneradorVolumetria/.vs/GeneradorVolumetria/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
GeneradorVolumetria/.vs/GeneradorVolumetria/FileContentIndex/6ac1040c-7c9e-44f8-974b-c9541de2999e.vsidx
GeneradorVolumetria/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
GeneradorVolumetria/obj/Debug/net8.0/GeneradorVolumetria.AssemblyInfo.cs
GeneradorVolumetria/.vs/GeneradorVolumetria/FileContentIndex/31ef8ea8-84fd-47c9-87be-ad83ca9e15bb.vsidx
